body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
  font-family: 標楷體;
}
.lead {
	padding: 60px 50px;
	font-size: 22px;					/* 設定文字大小 */
	font-weight: 600;
	letter-spacing: 3px;　            　/* 設定文字間距 */
	line-height: 30px;　　　          　/* 設定文字行距 */
}
h1 {
	font-size: 30px;
	font-weight: 900;
}

.navbar-static-top {
  margin-bottom: 19px;
}